<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Wallet</title>

    <style>
      body {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Wallet</h1>

      <span>Amount: </span>
      <span id="wallet_amount">0</span> &nbsp;&nbsp;
      <button id="reload_wallet">Reload Wallet</button>

      <br />
      <br />

      <span>Public Key : </span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span id="publicKey" rows="2" cols="100"></span>
      <br />

      <span>Private Key : </span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span id="privateKey" rows="1" cols="100"></span>
      <br />

      <span>Blockchain Address</span> &nbsp;&nbsp;
      <span id="senderAddress" rows="1" cols="100"></span>
    </div>

    <br />
    <br />

    <div>
      <h1>Send Money</h1>
      <div>
        Address:
        <input id="recipient_address" size="100" type="text" />
        <br />
        <br />
        Amount: &nbsp;<input id="send_amount" type="text" />
        <br />
        <br />
        <button id="send_money_button">Send</button>
      </div>
    </div>

    <script defer>
      const amountInput = document.getElementById('send_amount');
      const publicKeyInput = document.getElementById('publicKey');
      const privateKeyInput = document.getElementById('privateKey');
      const walletAmount = document.getElementById('wallet_amount');
      const submitBtn = document.getElementById('send_money_button');
      const reloadWalletBtn = document.getElementById('reload_wallet');
      const senderAddressInput = document.getElementById('senderAddress');
      const recipientAddress = document.getElementById('recipient_address');

      fetch('/wallet', { method: 'POST' })
        .then((res) => {
          if (!res.ok) throw new Error('Error in getting wallet');
          return res.json();
        })
        .then((res) => {
          senderAddressInput.innerHTML = res.address;
          publicKeyInput.innerHTML = res.publicKey;
          privateKeyInput.innerHTML = res.privateKey;
        })
        .catch(console.log);

      submitBtn.addEventListener('click', () => {
        const body = {
          senderPrivateKey: privateKeyInput.innerHTML,
          senderAddress: senderAddressInput.innerHTML,
          recipientAddress: recipientAddress.value,
          senderPublicKey: publicKeyInput.innerHTML,
          value: amountInput.value,
        };

        fetch('/transaction', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(body),
        })
          .then((res) => {
            if (!res.ok) throw new Error('Error in getting wallet');
            return res.json();
          })
          .then((res) => {
            if (res.message === 'success') {
              window.alert('Transaction Successful');
            } else window.alert('Transaction Failed');
          })
          .catch(console.log);
      });

      const reloadWallet = () => {
        const walletAddress = senderAddressInput.innerHTML;
        fetch(`/wallet/amount?address=${walletAddress}`, { method: 'GET' })
          .then((res) => {
            if (!res.ok) throw new Error('Error in getting wallet');
            return res.json();
          })
          .then((res) => {
            if (res.message === 'success') {
              walletAmount.innerHTML = res.amount;
            } else walletAmount.innerHTML = 0;
          })
          .catch(console.log);
      };

      setTimeout(reloadWallet, 20_000);
      reloadWalletBtn.addEventListener('click', reloadWallet);
    </script>
  </body>
</html>
